{
  "openapi": "3.0.3",
  "info": {
    "title": "KISS API Reference",
    "version": "v2",
    "description": "This reference covers the endpoints most integrations use. Need an endpoint that is not here? Contact your KISS rep."
  },
  "servers": [
    {
      "url": "https://api-app.keepitsimplestorage.com/api/v2",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Units"
    },
    {
      "name": "Tenants"
    },
    {
      "name": "Access"
    },
    {
      "name": "Logs"
    },
    {
      "name": "Health"
    }
  ],
  "paths": {
    "/access": {
      "get": {
        "operationId": "v2.access",
        "tags": [
          "Access"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "data": {
                      "type": "string"
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "304": {
            "description": ""
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "summary": "Get user access",
        "description": "Everything the signed-in user's app needs to operate offline: their units with the evaluated access state, the entry points for their zones, the NFC keys, and the facility timezone. Authenticated with the user's Bearer token. Cache it and refresh on launch / pull-to-refresh."
      }
    },
    "/health": {
      "get": {
        "operationId": "v2.health",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "ok"
                          ]
                        },
                        "version": {
                          "type": "string",
                          "enum": [
                            "v2"
                          ]
                        }
                      },
                      "required": [
                        "status",
                        "version"
                      ]
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        },
        "summary": "Health check",
        "description": "Liveness probe. Returns `200` when the API is up."
      }
    },
    "/locks/{lock}/logs": {
      "post": {
        "operationId": "v2.locks.logs.store",
        "tags": [
          "Logs"
        ],
        "parameters": [
          {
            "name": "lock",
            "in": "path",
            "required": true,
            "description": "The lock ulid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/App.Http.Requests.Api.V2.Locks.StoreLockLogRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "summary": "Report lock activity",
        "description": "Record a lock event (open or close: success, failure, or blocked) after an NFC interaction."
      }
    },
    "/entry-points/{entryPoint}/logs": {
      "post": {
        "operationId": "v2.entry-points.logs.store",
        "tags": [
          "Logs"
        ],
        "parameters": [
          {
            "name": "entryPoint",
            "in": "path",
            "required": true,
            "description": "The entry point ulid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreEntryPointLogRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "summary": "Report entry-point activity",
        "description": "Record an entry-point event (gate or door) after an NFC interaction."
      }
    },
    "/tenants": {
      "get": {
        "operationId": "v2.tenants.index",
        "tags": [
          "Tenants"
        ],
        "parameters": [
          {
            "name": "filter[phone_number]",
            "in": "query",
            "description": "Substring match against the stored country code + number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[location]",
            "in": "query",
            "description": "Only tenants homed at this location, addressed by its KISS `location_id` (ULID).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[external_location_code]",
            "in": "query",
            "description": "Only tenants at the location with this code in your own system. Company-token callers only.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[external_tenant_id]",
            "in": "query",
            "description": "Look up specific tenants by the id they carry in your own system. Company-token callers only.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[type]",
            "in": "query",
            "description": "Narrow to `primary`, `secondary-tenant`, or `unit-accessor`. Same vocabulary as the `type` field on each row.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page to return. Paging details come back in `meta.pagination`.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Rows per page. Defaults to 15, capped at 100.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tenants, in the shape that matches your token. A company token gets the tenants at its locations, each carrying both ids plus `phone_number`. A staff token gets the manager shape instead. Send the `ETag` back as `If-None-Match` to skip pages that have not changed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tenant_id": {
                            "type": "string"
                          },
                          "external_tenant_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "phone_number": {
                            "type": "string",
                            "nullable": true
                          },
                          "location_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "external_location_code": {
                            "type": "string",
                            "nullable": true
                          },
                          "type": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "tenant_id",
                          "external_tenant_id",
                          "first_name",
                          "last_name",
                          "phone_number",
                          "location_id",
                          "external_location_code",
                          "type",
                          "created_at",
                          "updated_at"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "current_page": {
                              "type": "integer"
                            },
                            "per_page": {
                              "type": "integer"
                            },
                            "total": {
                              "type": "integer"
                            },
                            "last_page": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "current_page",
                            "per_page",
                            "total",
                            "last_page"
                          ]
                        }
                      },
                      "required": [
                        "pagination"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "304": {
            "description": "Your `If-None-Match` matched: this page has not changed since that `ETag`, and no body is sent. Skip it and move on to the next page.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "A company token without the `tenants:read` scope, or a caller whose persona cannot enumerate tenants.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "summary": "List tenants",
        "description": "Lists the tenants at your locations, each carrying both ids: your own `external_tenant_id` and the KISS `tenant_id` (a ULID), along with their name, `phone_number`, location, and `type`. Results are paged (15 per page, `per_page` up to 100) with paging details in `meta.pagination`, and can be narrowed with `filter[location]`, `filter[external_location_code]`, `filter[external_tenant_id]`, or `filter[type]`. Supports conditional requests via `ETag` / `If-None-Match`. A row with a null `external_tenant_id` is a tenant KISS holds that carries no id from your system, identified by `phone_number`; see the [sync guide](/guides/pms/quickstart#tenants-you-did-not-create) before writing your own id onto one. Needs the `tenants:read` scope."
      }
    },
    "/tenants/{tenant}": {
      "get": {
        "operationId": "v2.tenants.show",
        "tags": [
          "Tenants"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "description": "The tenant's KISS `tenant_id` (ULID), as returned by `GET /tenants`.",
            "schema": {
              "type": "string"
            },
            "example": "01J8ZQK3M7V2XPB4NRTC6H9DSE"
          }
        ],
        "responses": {
          "200": {
            "description": "The tenant, in the shape that matches your token: a company token gets the same fields as `GET /tenants`, a staff token gets the manager fields.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "tenant_id": {
                          "type": "string"
                        },
                        "external_tenant_id": {
                          "type": "string",
                          "nullable": true
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "phone_number": {
                          "type": "string",
                          "nullable": true
                        },
                        "location_id": {
                          "type": "string",
                          "nullable": true
                        },
                        "external_location_code": {
                          "type": "string",
                          "nullable": true
                        },
                        "type": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "tenant_id",
                        "external_tenant_id",
                        "first_name",
                        "last_name",
                        "phone_number",
                        "location_id",
                        "external_location_code",
                        "type",
                        "created_at",
                        "updated_at"
                      ]
                    },
                    "meta": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "304": {
            "description": "Your `If-None-Match` matched: this tenant has not changed since that `ETag`, and no body is sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "A company token without the `tenants:read` scope, or a staff caller without tenant-read permission or without access to this tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No tenant with that `tenant_id` at a location your token reaches.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "summary": "Get a tenant",
        "description": "Fetch a single tenant by their KISS `tenant_id` (ULID), returning the same fields as `GET /tenants`. Supports conditional requests via `ETag` / `If-None-Match`. Returns `404` for a tenant outside the locations your token reaches. Needs the `tenants:read` scope."
      }
    },
    "/tenants/{ulid}": {
      "patch": {
        "operationId": "v2.tenants.patch",
        "tags": [
          "Tenants"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for deduplication (1–255 chars, 24 h window)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ulid",
            "in": "path",
            "required": true,
            "description": "The tenant's KISS `tenant_id` (ULID), as returned by `GET /tenants`.",
            "schema": {
              "type": "string"
            },
            "example": "01J8ZQK3M7V2XPB4NRTC6H9DSE"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchTenantRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The corrected tenant, in the same shape as `GET /tenants/{tenant}`. `meta.warnings` is always present: a `phone_number_shared` entry means the write applied but another account answers on that number, and `tenant_ids` lists the ones your token can see.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "tenant_id": {
                          "type": "string"
                        },
                        "external_tenant_id": {
                          "type": "string",
                          "nullable": true
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "phone_number": {
                          "type": "string",
                          "nullable": true
                        },
                        "location_id": {
                          "type": "string",
                          "nullable": true
                        },
                        "external_location_code": {
                          "type": "string",
                          "nullable": true
                        },
                        "type": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "tenant_id",
                        "external_tenant_id",
                        "first_name",
                        "last_name",
                        "phone_number",
                        "location_id",
                        "external_location_code",
                        "type",
                        "created_at",
                        "updated_at"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "warnings": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "tenant_ids": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "required": [
                              "code",
                              "message",
                              "tenant_ids"
                            ]
                          }
                        }
                      },
                      "required": [
                        "warnings"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "Your token does not carry the `tenants:write` scope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "No tenant with that `tenant_id` at a location your token reaches.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "string",
                          "enum": [
                            "Tenant not found."
                          ]
                        }
                      ]
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "The tenant exists but must not be corrected here. `code` is `tenant_not_externally_linked` when the account carries no id from your system, `tenant_profile_ambiguous` when your token reaches more than one of the tenant's records, or `tenant_spans_locations` when a name correction was sent for a tenant holding records at several of your locations (a name is one value behind all of them; correcting the phone number, which is held per location, still works).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "No correctable field was sent, or the phone number could not be read. Sending any field other than `first_name`, `last_name`, or `phone` also answers `422`, with the reason keyed by field name: `email`, `external_tenant_id`, `location_id`, `is_secondary`, `is_classified`, `access_start_time`, `access_end_time`, `access_hours`, and `archived_at` are all owned elsewhere.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Errors overview."
                    },
                    "errors": {
                      "type": "object",
                      "description": "A detailed description of each field that failed validation.",
                      "additionalProperties": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "message",
                    "errors"
                  ]
                }
              }
            }
          }
        },
        "summary": "Correct a tenant",
        "description": "Correct a tenant's `first_name`, `last_name`, or `phone` (at least one required; nothing else is accepted). Addressed by the KISS `tenant_id` (ULID). Returns the corrected tenant in the same shape as `GET /tenants/{tenant_id}`, plus `meta.warnings`, which is always present and flags a phone number shared with another account. Answers `409` for a tenant with no id from your system, an ambiguous target, or (for a name) one that spans locations your token doesn't reach; see the [correction guide](/guides/pms/quickstart#correcting-a-tenant) for each case. Needs the `tenants:write` scope."
      }
    },
    "/units": {
      "get": {
        "operationId": "v2.units.index",
        "tags": [
          "Units"
        ],
        "parameters": [
          {
            "name": "filter[location]",
            "in": "query",
            "description": "Return only units at this location, addressed by its KISS `location_id` (ULID).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[external_location_code]",
            "in": "query",
            "description": "Return only units at the location with this code in your own system. Company-token callers only.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page to return. Paging details come back in `meta.pagination`.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Rows per page. Defaults to 15, capped at 100.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "array",
                              "items": {}
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "data": {
                          "type": "string"
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "pagination": {
                              "type": "object",
                              "properties": {
                                "current_page": {
                                  "type": "integer"
                                },
                                "per_page": {
                                  "type": "integer"
                                },
                                "total": {
                                  "type": "integer"
                                },
                                "last_page": {
                                  "type": "integer"
                                }
                              },
                              "required": [
                                "current_page",
                                "per_page",
                                "total",
                                "last_page"
                              ]
                            },
                            "": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "pagination",
                            null
                          ]
                        }
                      },
                      "required": [
                        "message",
                        "data",
                        "meta"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "array",
                              "items": {}
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "data": {
                          "type": "string"
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "count": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "count",
                            null
                          ]
                        }
                      },
                      "required": [
                        "message",
                        "data",
                        "meta"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "array",
                              "items": {}
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/UnitResource"
                          }
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "pagination": {
                              "type": "object",
                              "properties": {
                                "current_page": {
                                  "type": "integer"
                                },
                                "per_page": {
                                  "type": "integer"
                                },
                                "total": {
                                  "type": "integer"
                                },
                                "last_page": {
                                  "type": "integer"
                                }
                              },
                              "required": [
                                "current_page",
                                "per_page",
                                "total",
                                "last_page"
                              ]
                            }
                          },
                          "required": [
                            "pagination"
                          ]
                        }
                      },
                      "required": [
                        "message",
                        "data",
                        "meta"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "array",
                              "items": {}
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/UnitResource"
                          }
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "count": {
                              "type": "integer",
                              "minimum": 0
                            }
                          },
                          "required": [
                            "count"
                          ]
                        }
                      },
                      "required": [
                        "message",
                        "data",
                        "meta"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "304": {
            "description": ""
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "summary": "List units",
        "description": "Lists the units in your company, each carrying both IDs: your own `external_unit_id` and the KISS `unit_id` (a ULID). This is the mapping to store if you want to address single units by ULID. Results are paged (15 per page, `per_page` up to 100) with paging details in `meta.pagination`, and can be narrowed to one store with `filter[location]` or `filter[external_location_code]`. Supports conditional requests via `ETag` / `If-None-Match`."
      },
      "patch": {
        "operationId": "v2.units.sync",
        "tags": [
          "Units"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for deduplication (1–255 chars, 24 h window)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncUnitsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sync applied. `results` maps every applied item to its KISS `unit_id`; anything that failed is in `errors` instead.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "synced_at": {
                          "type": "string"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "created": {
                          "type": "integer"
                        },
                        "updated": {
                          "type": "integer"
                        },
                        "failed": {
                          "type": "integer"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "unit_id": {
                                "type": "string"
                              },
                              "external_unit_id": {
                                "type": "string",
                                "nullable": true
                              },
                              "crm_unit_id": {
                                "type": "string",
                                "nullable": true
                              },
                              "outcome": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "unit_id",
                              "external_unit_id",
                              "crm_unit_id",
                              "outcome"
                            ]
                          }
                        },
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "crm_unit_id": {
                                "type": "string"
                              },
                              "unit_id": {
                                "type": "string"
                              },
                              "error": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "error"
                            ]
                          }
                        }
                      },
                      "required": [
                        "synced_at",
                        "total",
                        "created",
                        "updated",
                        "failed",
                        "results",
                        "errors"
                      ]
                    },
                    "meta": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "description": "Every item in the batch failed. Same body as a 200; inspect `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "synced_at": {
                          "type": "string"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "created": {
                          "type": "integer"
                        },
                        "updated": {
                          "type": "integer"
                        },
                        "failed": {
                          "type": "integer"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "unit_id": {
                                "type": "string"
                              },
                              "external_unit_id": {
                                "type": "string",
                                "nullable": true
                              },
                              "crm_unit_id": {
                                "type": "string",
                                "nullable": true
                              },
                              "outcome": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "unit_id",
                              "external_unit_id",
                              "crm_unit_id",
                              "outcome"
                            ]
                          }
                        },
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "crm_unit_id": {
                                "type": "string"
                              },
                              "unit_id": {
                                "type": "string"
                              },
                              "error": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "error"
                            ]
                          }
                        }
                      },
                      "required": [
                        "synced_at",
                        "total",
                        "created",
                        "updated",
                        "failed",
                        "results",
                        "errors"
                      ]
                    },
                    "meta": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        },
        "summary": "Create or update units",
        "description": "Create or update up to 500 units in one idempotent call, matched on your `external_unit_id`. Unknown IDs create units, known IDs update their facts. This is the only write keyed on your own IDs, so you can change any unit fact (occupancy, lockout, balance, auction, move-in) without storing KISS ULIDs; send a single-item `units` array to update one unit by `external_unit_id`. Use it for the initial roster load and periodic reconciliation. Every applied unit comes back in `data.results` with its KISS `unit_id`, so you can record the mapping without a second call. Per-item failures come back in `data.errors` with a `200`; a batch where every item failed answers `422` with the same body."
      }
    },
    "/units/{unit}": {
      "get": {
        "operationId": "v2.units.show",
        "tags": [
          "Units"
        ],
        "parameters": [
          {
            "name": "unit",
            "in": "path",
            "required": true,
            "description": "The unit ulid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "array",
                              "items": {}
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "data": {
                          "type": "array",
                          "items": {}
                        },
                        "meta": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "data",
                        "meta"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "array",
                              "items": {}
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "data": {
                          "$ref": "#/components/schemas/UnitResource"
                        },
                        "meta": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "data",
                        "meta"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        },
        "summary": "Get a unit",
        "description": "Fetch a single unit by its KISS `unit_id` (ULID)."
      }
    },
    "/units/{ulid}/tenancy": {
      "put": {
        "operationId": "v2.units.tenancy.put",
        "tags": [
          "Units"
        ],
        "parameters": [
          {
            "name": "ulid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for deduplication (1–255 chars, 24 h window)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutTenancyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/UnitResource"
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/UnitResource"
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "summary": "Assign primary user",
        "description": "Addressed by the unit's KISS `unit_id` (ULID). Set the unit's single primary user (the owner). Marks the unit occupied, sets the move-in date, clears any lockout, and (with a `tenant` block) creates or updates that user so they can claim the unit in the app. If the unit already has a primary user, this REPLACES them — the prior primary link is overwritten (guest / secondary accessors are left attached). Adding a guest is a separate flow, not this endpoint."
      },
      "delete": {
        "operationId": "v2.units.tenancy.delete",
        "tags": [
          "Units"
        ],
        "parameters": [
          {
            "name": "ulid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for deduplication (1–255 chars, 24 h window)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "array",
                              "items": {}
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "data": {
                          "$ref": "#/components/schemas/UnitResource"
                        },
                        "meta": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "data",
                        "meta"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "array",
                              "items": {}
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "data": {
                          "type": "array",
                          "items": {}
                        },
                        "meta": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "data",
                        "meta"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "string"
                        }
                      ]
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    },
                    "data": {
                      "type": "string"
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        },
        "summary": "Remove primary user",
        "description": "Addressed by the unit's KISS `unit_id` (ULID). End the primary tenancy and reset the unit to vacant (no request body). Clears occupied, the primary-user link, pms_tenant_id, move_in_date, balance_due (to 0), paid_through_date, pms_lockout, pms_auction, pms_unrentable, and pms_status_raw, and detaches secondary accessors. Returns 404 for an unknown unit."
      }
    },
    "/units/{ulid}": {
      "patch": {
        "operationId": "v2.units.patch",
        "tags": [
          "Units"
        ],
        "parameters": [
          {
            "name": "ulid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for deduplication (1–255 chars, 24 h window)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchUnitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/UnitResource"
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "string"
                        }
                      ]
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "summary": "Update unit facts",
        "description": "Sparse update of one unit's access facts (overlock, exemption, auction, unrentable, balance, occupancy). Addressed by the KISS `unit_id` (ULID), so reach for it when you already hold the ULID (from `GET /units`). To update by your own `crm_unit_id` instead, send a one-item batch to `PATCH /units`. Send only the fields that changed."
      }
    }
  },
  "components": {
    "securitySchemes": {
      "scheme": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API token"
      }
    },
    "schemas": {
      "App.Http.Requests.Api.V2.Locks.StoreLockLogRequest": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Only the device open/close actions a client reports. Server-generated\nkeys (registration, bundle, access-share) are written by their own\nflows and must not be forgeable through this endpoint.",
            "enum": [
              "lock.open_successful",
              "lock.open_failure",
              "lock.open_blocked",
              "lock.close_successful",
              "lock.close_successful_confirmed",
              "lock.close_failure",
              "lock.close_blocked",
              "lock.open_unconfirmed",
              "lock.close_unconfirmed",
              "entry_point.open_successful",
              "entry_point.open_failure",
              "entry_point.open_blocked",
              "entry_point.close_successful",
              "entry_point.close_successful_confirmed",
              "entry_point.close_failure",
              "entry_point.close_blocked",
              "entry_point.open_unconfirmed",
              "entry_point.close_unconfirmed"
            ]
          },
          "reason": {
            "type": "string",
            "description": "KEEP-1277: `nullable` is REQUIRED here, not cosmetic. `reason` is\noptional for every key except the two failure keys above, but the\nglobal ConvertEmptyStringsToNull middleware rewrites an empty string\nto null, and without `nullable` a null value then fails the `string`\nrule and 422s the whole request.",
            "maxLength": 1000,
            "nullable": true
          },
          "happened_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "app_version": {
            "type": "string",
            "maxLength": 20,
            "nullable": true
          },
          "app_build": {
            "type": "string",
            "maxLength": 20,
            "nullable": true
          },
          "platform": {
            "type": "string",
            "enum": [
              "ios",
              "android"
            ],
            "nullable": true
          },
          "error_code": {
            "type": "string",
            "description": "KEEP-1150: telemetry must never fail the whole request. An error\ncode the server does not recognise is coerced to null in the\ncontroller (AccessLogErrorCode::tryFrom), so validating it with\nRule::in only served to 422 the primary open/close outcome log and\ndrop it entirely. Accept any string; the model's enum cast + the\ncontroller tryFrom still guarantee only valid values or null persist.",
            "nullable": true
          },
          "first_error_code": {
            "type": "string",
            "nullable": true
          },
          "duration_ms": {
            "type": "integer",
            "minimum": 0,
            "nullable": true
          },
          "attempt_count": {
            "type": "integer",
            "minimum": 0,
            "nullable": true
          },
          "nfc_antenna_profile": {
            "type": "string",
            "maxLength": 64,
            "nullable": true
          },
          "scanned_lock_serial": {
            "type": "string",
            "maxLength": 255,
            "nullable": true
          },
          "field_lost_after_start": {
            "type": "boolean",
            "description": "KEEP-1148: flags a real open the phone was pulled away from mid-motor.",
            "nullable": true
          },
          "package": {
            "type": "string",
            "description": "KEEP-1154: which NFC engine + version produced the tap (kiss_core /\ntapt_nfc + its version), so performance can be sliced by NFC stack\nacross apps and the bench.",
            "maxLength": 40,
            "nullable": true
          },
          "package_version": {
            "type": "string",
            "maxLength": 40,
            "nullable": true
          }
        },
        "required": [
          "key"
        ],
        "title": "App.Http.Requests.Api.V2.Locks.StoreLockLogRequest"
      },
      "PatchTenantRequest": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "description": "The tenant's given name, as your system holds it.",
            "maxLength": 255
          },
          "last_name": {
            "type": "string",
            "description": "The tenant's family name, as your system holds it.",
            "maxLength": 255
          },
          "phone": {
            "type": "string",
            "description": "The tenant's mobile number, and their credential for signing in.\nE.164 (`+15125550142`) is unambiguous; a bare national number is\nread against the location's country.",
            "maxLength": 32
          }
        },
        "title": "PatchTenantRequest"
      },
      "PatchUnitRequest": {
        "type": "object",
        "properties": {
          "balance_due": {
            "type": "number",
            "minimum": 0,
            "nullable": true
          },
          "paid_through_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lockout": {
            "type": "boolean",
            "description": "Whether the external system has the unit locked out (e.g. for delinquency)."
          },
          "pms_lockout": {
            "type": "boolean",
            "description": "Legacy alias of `lockout`.",
            "deprecated": true
          },
          "lock_exempt": {
            "type": "boolean",
            "description": "Whether the unit is exempt from lockout enforcement."
          },
          "pms_lock_exempt": {
            "type": "boolean",
            "description": "Legacy alias of `lock_exempt`.",
            "deprecated": true
          },
          "auction": {
            "type": "boolean",
            "description": "Whether the unit is in auction status."
          },
          "pms_auction": {
            "type": "boolean",
            "description": "Legacy alias of `auction`.",
            "deprecated": true
          },
          "unrentable": {
            "type": "boolean",
            "description": "Whether the unit is unrentable."
          },
          "pms_unrentable": {
            "type": "boolean",
            "description": "Legacy alias of `unrentable`.",
            "deprecated": true
          },
          "status_raw": {
            "type": "string",
            "description": "The unit's raw status string in the external system.",
            "maxLength": 255,
            "nullable": true
          },
          "pms_status_raw": {
            "type": "string",
            "description": "Legacy alias of `status_raw`.",
            "deprecated": true,
            "maxLength": 255,
            "nullable": true
          },
          "occupied": {
            "type": "string",
            "description": "Prohibited here — tenancy changes go through PUT/DELETE /units/{ulid}/tenancy."
          },
          "tenant_id": {
            "type": "string",
            "description": "Prohibited here — tenancy changes go through PUT/DELETE /units/{ulid}/tenancy."
          },
          "external_tenant_id": {
            "type": "string",
            "description": "Prohibited here — tenancy changes go through PUT/DELETE /units/{ulid}/tenancy."
          },
          "pms_tenant_id": {
            "type": "string",
            "description": "Legacy alias of `external_tenant_id`. Prohibited here — tenancy changes go through PUT/DELETE /units/{ulid}/tenancy.",
            "deprecated": true
          },
          "move_in_date": {
            "type": "string",
            "description": "Prohibited here — tenancy changes go through PUT/DELETE /units/{ulid}/tenancy."
          }
        },
        "title": "PatchUnitRequest"
      },
      "PutTenancyRequest": {
        "type": "object",
        "properties": {
          "external_unit_id": {
            "type": "string",
            "description": "Your system's unit identifier. Only used to label the unit when this\ncall creates it; it never re-targets or re-labels an existing unit.",
            "maxLength": 255,
            "nullable": true
          },
          "crm_unit_id": {
            "type": "string",
            "description": "Legacy alias of `external_unit_id`. Also create-only: it never re-targets an existing unit.",
            "deprecated": true,
            "maxLength": 255,
            "nullable": true
          },
          "location_id": {
            "type": "string",
            "nullable": true
          },
          "external_location_code": {
            "type": "string",
            "description": "The location's code in your system, an alternative to `location_id`.",
            "maxLength": 255,
            "nullable": true
          },
          "pms_location_code": {
            "type": "string",
            "description": "Legacy alias of `external_location_code`.",
            "deprecated": true,
            "maxLength": 255,
            "nullable": true
          },
          "unit_name": {
            "type": "string",
            "maxLength": 255,
            "nullable": true
          },
          "move_in_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "external_tenant_id": {
            "type": "string",
            "description": "The moving-in tenant's identifier in your system.",
            "maxLength": 255,
            "nullable": true
          },
          "pms_tenant_id": {
            "type": "string",
            "description": "Legacy alias of `external_tenant_id`.",
            "deprecated": true,
            "maxLength": 255,
            "nullable": true
          },
          "ledger_id": {
            "type": "string",
            "maxLength": 255,
            "nullable": true
          },
          "status_raw": {
            "type": "string",
            "description": "The unit's raw status string in the external system.",
            "maxLength": 255,
            "nullable": true
          },
          "pms_status_raw": {
            "type": "string",
            "description": "Legacy alias of `status_raw`.",
            "deprecated": true,
            "maxLength": 255,
            "nullable": true
          },
          "lock_exempt": {
            "type": "boolean",
            "description": "Whether the unit is exempt from lockout enforcement.",
            "nullable": true
          },
          "pms_lock_exempt": {
            "type": "boolean",
            "description": "Legacy alias of `lock_exempt`.",
            "deprecated": true,
            "nullable": true
          },
          "tenant": {
            "type": "object",
            "properties": {
              "external_tenant_id": {
                "type": "string",
                "description": "The tenant's identifier in your system.",
                "maxLength": 255,
                "nullable": true
              },
              "pms_tenant_id": {
                "type": "string",
                "description": "Legacy alias of `tenant.external_tenant_id`.",
                "deprecated": true,
                "maxLength": 255,
                "nullable": true
              },
              "first_name": {
                "type": "string",
                "maxLength": 255,
                "nullable": true
              },
              "last_name": {
                "type": "string",
                "maxLength": 255,
                "nullable": true
              },
              "phone": {
                "type": "string",
                "maxLength": 32,
                "nullable": true
              },
              "email": {
                "type": "string",
                "format": "email",
                "maxLength": 255,
                "nullable": true
              }
            }
          }
        },
        "title": "PutTenancyRequest"
      },
      "StoreEntryPointLogRequest": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Only the device open/close actions a client reports; server-generated\nkeys are written by their own flows, not forgeable through this endpoint.",
            "enum": [
              "lock.open_successful",
              "lock.open_failure",
              "lock.open_blocked",
              "lock.close_successful",
              "lock.close_successful_confirmed",
              "lock.close_failure",
              "lock.close_blocked",
              "lock.open_unconfirmed",
              "lock.close_unconfirmed",
              "entry_point.open_successful",
              "entry_point.open_failure",
              "entry_point.open_blocked",
              "entry_point.close_successful",
              "entry_point.close_successful_confirmed",
              "entry_point.close_failure",
              "entry_point.close_blocked",
              "entry_point.open_unconfirmed",
              "entry_point.close_unconfirmed"
            ]
          },
          "zone_id": {
            "type": "string",
            "description": "Accepted for client parity with V1 (the apps may send it); the log is\nrecorded against the entry point's resolved zone, so it is not yet used.",
            "nullable": true
          },
          "happened_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "app_version": {
            "type": "string",
            "maxLength": 20,
            "nullable": true
          },
          "app_build": {
            "type": "string",
            "maxLength": 20,
            "nullable": true
          },
          "platform": {
            "type": "string",
            "enum": [
              "ios",
              "android"
            ],
            "nullable": true
          },
          "error_code": {
            "type": "string",
            "description": "KEEP-1150: telemetry must never fail the whole request. An error\ncode the server does not recognise is coerced to null in the\ncontroller (AccessLogErrorCode::tryFrom), so validating it with\nRule::in only served to 422 the primary open/close outcome log and\ndrop it entirely. Accept any string; the model's enum cast + the\ncontroller tryFrom still guarantee only valid values or null persist.",
            "nullable": true
          },
          "first_error_code": {
            "type": "string",
            "nullable": true
          },
          "duration_ms": {
            "type": "integer",
            "minimum": 0,
            "nullable": true
          },
          "attempt_count": {
            "type": "integer",
            "minimum": 0,
            "nullable": true
          },
          "nfc_antenna_profile": {
            "type": "string",
            "maxLength": 64,
            "nullable": true
          },
          "scanned_lock_serial": {
            "type": "string",
            "maxLength": 255,
            "nullable": true
          },
          "field_lost_after_start": {
            "type": "boolean",
            "description": "KEEP-1148: flags a real open the phone was pulled away from mid-motor.",
            "nullable": true
          },
          "package": {
            "type": "string",
            "description": "KEEP-1154: which NFC engine + version produced the tap (kiss_core /\ntapt_nfc + its version), so performance can be sliced by NFC stack\nacross apps and the bench.",
            "maxLength": 40,
            "nullable": true
          },
          "package_version": {
            "type": "string",
            "maxLength": 40,
            "nullable": true
          }
        },
        "required": [
          "key"
        ],
        "title": "StoreEntryPointLogRequest"
      },
      "SyncUnitsRequest": {
        "type": "object",
        "properties": {
          "units": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "unit_id": {
                  "type": "string"
                },
                "external_unit_id": {
                  "type": "string",
                  "description": "Your system's unit identifier, an alternative to `unit_id`. Creates the unit when unknown.",
                  "maxLength": 255
                },
                "crm_unit_id": {
                  "type": "string",
                  "description": "Legacy alias of `external_unit_id`.",
                  "deprecated": true,
                  "maxLength": 255
                },
                "unit_name": {
                  "type": "string",
                  "maxLength": 255,
                  "nullable": true
                },
                "location_id": {
                  "type": "string",
                  "nullable": true
                },
                "external_location_code": {
                  "type": "string",
                  "description": "The location's code in your system, an alternative to `location_id`.",
                  "maxLength": 255,
                  "nullable": true
                },
                "pms_location_code": {
                  "type": "string",
                  "description": "Legacy alias of `external_location_code`.",
                  "deprecated": true,
                  "maxLength": 255,
                  "nullable": true
                },
                "occupied": {
                  "type": "boolean"
                },
                "move_in_date": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "external_tenant_id": {
                  "type": "string",
                  "description": "The unit's current tenant identifier in your system.",
                  "maxLength": 255,
                  "nullable": true
                },
                "pms_tenant_id": {
                  "type": "string",
                  "description": "Legacy alias of `external_tenant_id`.",
                  "deprecated": true,
                  "maxLength": 255,
                  "nullable": true
                },
                "ledger_id": {
                  "type": "string",
                  "maxLength": 255,
                  "nullable": true
                },
                "balance_due": {
                  "type": "number",
                  "minimum": 0
                },
                "paid_through_date": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "lockout": {
                  "type": "boolean",
                  "description": "Whether the external system has the unit locked out (e.g. for delinquency)."
                },
                "pms_lockout": {
                  "type": "boolean",
                  "description": "Legacy alias of `lockout`.",
                  "deprecated": true
                },
                "lock_exempt": {
                  "type": "boolean",
                  "description": "Whether the unit is exempt from lockout enforcement."
                },
                "pms_lock_exempt": {
                  "type": "boolean",
                  "description": "Legacy alias of `lock_exempt`.",
                  "deprecated": true
                },
                "auction": {
                  "type": "boolean",
                  "description": "Whether the unit is in auction status."
                },
                "pms_auction": {
                  "type": "boolean",
                  "description": "Legacy alias of `auction`.",
                  "deprecated": true
                },
                "unrentable": {
                  "type": "boolean",
                  "description": "Whether the unit is unrentable."
                },
                "pms_unrentable": {
                  "type": "boolean",
                  "description": "Legacy alias of `unrentable`.",
                  "deprecated": true
                },
                "status_raw": {
                  "type": "string",
                  "description": "The unit's raw status string in the external system.",
                  "maxLength": 255,
                  "nullable": true
                },
                "pms_status_raw": {
                  "type": "string",
                  "description": "Legacy alias of `status_raw`.",
                  "deprecated": true,
                  "maxLength": 255,
                  "nullable": true
                }
              }
            },
            "minItems": 1,
            "maxItems": 500
          }
        },
        "required": [
          "units"
        ],
        "title": "SyncUnitsRequest"
      },
      "UnitResource": {
        "type": "object",
        "properties": {
          "unit_id": {
            "type": "string"
          },
          "external_unit_id": {
            "type": "string",
            "nullable": true
          },
          "crm_unit_id": {
            "type": "string",
            "nullable": true
          },
          "unit_name": {
            "type": "string"
          },
          "location_id": {
            "type": "string",
            "nullable": true
          },
          "occupied": {
            "type": "boolean"
          },
          "move_in_date": {
            "type": "string"
          },
          "external_tenant_id": {
            "type": "string",
            "nullable": true
          },
          "pms_tenant_id": {
            "type": "string",
            "nullable": true
          },
          "ledger_id": {
            "type": "string",
            "nullable": true
          },
          "source_type": {
            "type": "string"
          },
          "source_identifier": {
            "type": "string",
            "nullable": true
          },
          "last_synced_at": {
            "type": "string"
          }
        },
        "required": [
          "unit_id",
          "external_unit_id",
          "crm_unit_id",
          "unit_name",
          "location_id",
          "occupied",
          "move_in_date",
          "external_tenant_id",
          "pms_tenant_id",
          "ledger_id",
          "source_type",
          "source_identifier",
          "last_synced_at"
        ],
        "title": "UnitResource"
      }
    },
    "responses": {
      "ValidationException": {
        "description": "Validation error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Errors overview."
                },
                "errors": {
                  "type": "object",
                  "description": "A detailed description of each field that failed validation.",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "required": [
                "message",
                "errors"
              ]
            }
          }
        }
      },
      "AuthenticationException": {
        "description": "Unauthenticated",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error overview."
                }
              },
              "required": [
                "message"
              ]
            }
          }
        }
      },
      "ModelNotFoundException": {
        "description": "Not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error overview."
                }
              },
              "required": [
                "message"
              ]
            }
          }
        }
      },
      "NotFoundHttpException": {
        "description": "Not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error overview."
                }
              },
              "required": [
                "message"
              ]
            }
          }
        }
      },
      "AuthorizationException": {
        "description": "Authorization error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error overview."
                }
              },
              "required": [
                "message"
              ]
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "scheme": []
    }
  ]
}
