{
  "openapi": "3.0.3",
  "info": {
    "title": "KISS API Reference",
    "version": "v2",
    "description": "This reference covers the endpoints most integrations use. Need an endpoint that is not here? Contact your KISS rep."
  },
  "servers": [
    {
      "url": "https://api-app.keepitsimplestorage.com/api/v2",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Units"
    },
    {
      "name": "Tenants"
    },
    {
      "name": "Access"
    },
    {
      "name": "Logs"
    },
    {
      "name": "Health"
    }
  ],
  "paths": {
    "/access": {
      "get": {
        "operationId": "v2.access",
        "tags": [
          "Access"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "data": {
                      "type": "string"
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "304": {
            "description": ""
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "summary": "Get user access",
        "description": "Everything the signed-in user's app needs to operate offline: their units with the evaluated access state, the entry points for their zones, the NFC keys, and the facility timezone. Authenticated with the user's Bearer token. Cache it and refresh on launch / pull-to-refresh."
      }
    },
    "/health": {
      "get": {
        "operationId": "v2.health",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "ok"
                          ]
                        },
                        "version": {
                          "type": "string",
                          "enum": [
                            "v2"
                          ]
                        }
                      },
                      "required": [
                        "status",
                        "version"
                      ]
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        },
        "summary": "Health check",
        "description": "Liveness probe. Returns `200` when the API is up."
      }
    },
    "/locks/{lock}/logs": {
      "post": {
        "operationId": "v2.locks.logs.store",
        "tags": [
          "Logs"
        ],
        "parameters": [
          {
            "name": "lock",
            "in": "path",
            "required": true,
            "description": "The lock ulid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/App.Http.Requests.Api.V2.Locks.StoreLockLogRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "summary": "Report lock activity",
        "description": "Record a lock event (open or close: success, failure, or blocked) after an NFC interaction."
      }
    },
    "/entry-points/{entryPoint}/logs": {
      "post": {
        "operationId": "v2.entry-points.logs.store",
        "tags": [
          "Logs"
        ],
        "parameters": [
          {
            "name": "entryPoint",
            "in": "path",
            "required": true,
            "description": "The entry point ulid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreEntryPointLogRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "summary": "Report entry-point activity",
        "description": "Record an entry-point event (gate or door) after an NFC interaction."
      }
    },
    "/tenants": {
      "get": {
        "operationId": "v2.tenants.index",
        "tags": [
          "Tenants"
        ],
        "parameters": [
          {
            "name": "filter[phone_number]",
            "in": "query",
            "description": "Substring match against the stored country code + number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[location]",
            "in": "query",
            "description": "Only tenants homed at this location, addressed by its KISS `location_id` (ULID).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[external_location_code]",
            "in": "query",
            "description": "Only tenants at the location with this code in your own system. Company-token callers only.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[external_tenant_id]",
            "in": "query",
            "description": "Look up specific tenants by the id they carry in your own system. Company-token callers only.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[type]",
            "in": "query",
            "description": "Narrow to `primary`, `secondary-tenant`, or `unit-accessor`. Same vocabulary as the `type` field on each row.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page to return. Paging details come back in `meta.pagination`.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Rows per page. Defaults to 15, capped at 100.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tenants, in the shape that matches your token. A company token gets the tenants at its locations, each carrying both ids plus `phone_number`, so a tenant with no `external_tenant_id` can still be matched against your own records. A staff token gets the manager shape instead. Send the `ETag` back as `If-None-Match` on the next sweep to skip pages that have not changed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tenant_id": {
                            "type": "string"
                          },
                          "external_tenant_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "pms_tenant_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "phone_number": {
                            "type": "string",
                            "nullable": true
                          },
                          "location_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "external_location_code": {
                            "type": "string",
                            "nullable": true
                          },
                          "type": {
                            "type": "string"
                          },
                          "archived_at": {
                            "type": "string",
                            "nullable": true
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "tenant_id",
                          "external_tenant_id",
                          "pms_tenant_id",
                          "first_name",
                          "last_name",
                          "phone_number",
                          "location_id",
                          "external_location_code",
                          "type",
                          "archived_at",
                          "created_at",
                          "updated_at"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "current_page": {
                              "type": "integer"
                            },
                            "per_page": {
                              "type": "integer"
                            },
                            "total": {
                              "type": "integer"
                            },
                            "last_page": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "current_page",
                            "per_page",
                            "total",
                            "last_page"
                          ]
                        }
                      },
                      "required": [
                        "pagination"
                      ]
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "304": {
            "description": "Your `If-None-Match` matched: this page has not changed since that `ETag`, and no body is sent. Skip it and move on to the next page.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "summary": "List tenants",
        "description": "The tenants KISS already holds for your locations, so you can reconcile them against your own records before you write. Each row carries both ids: your own `external_tenant_id` and the KISS `tenant_id` (a ULID). Rows with a null `external_tenant_id` are tenants KISS knows that you have not claimed — someone who signed up in the app, walked in, or arrived through another integration. Match those on `phone_number` and reuse the existing person rather than pushing a new id for them, which is what keeps you from creating a duplicate. Results are paged (15 per page, `per_page` up to 100) with paging details in `meta.pagination`, and can be narrowed with `filter[location]`, `filter[external_location_code]`, or `filter[external_tenant_id]`. Supports conditional requests via `ETag` / `If-None-Match`, so a periodic sweep can skip pages that have not changed. Needs the `tenants:read` scope."
      }
    },
    "/tenants/{tenant}": {
      "get": {
        "operationId": "v2.tenants.show",
        "tags": [
          "Tenants"
        ],
        "parameters": [
          {
            "name": "tenant",
            "in": "path",
            "required": true,
            "description": "The tenant ulid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One tenant, addressed by its KISS `tenant_id` (ULID), in the shape that matches your token: a company token gets the reconciliation fields, a staff token the manager fields.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "tenant_id": {
                          "type": "string"
                        },
                        "external_tenant_id": {
                          "type": "string",
                          "nullable": true
                        },
                        "pms_tenant_id": {
                          "type": "string",
                          "nullable": true
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "phone_number": {
                          "type": "string",
                          "nullable": true
                        },
                        "location_id": {
                          "type": "string",
                          "nullable": true
                        },
                        "external_location_code": {
                          "type": "string",
                          "nullable": true
                        },
                        "type": {
                          "type": "string"
                        },
                        "archived_at": {
                          "type": "string",
                          "nullable": true
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "tenant_id",
                        "external_tenant_id",
                        "pms_tenant_id",
                        "first_name",
                        "last_name",
                        "phone_number",
                        "location_id",
                        "external_location_code",
                        "type",
                        "archived_at",
                        "created_at",
                        "updated_at"
                      ]
                    },
                    "meta": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        },
        "summary": "Get a tenant",
        "description": "Fetch a single tenant by their KISS `tenant_id` (ULID). Returns `404` for a tenant outside the locations your token reaches. Needs the `tenants:read` scope."
      }
    },
    "/units": {
      "get": {
        "operationId": "v2.units.index",
        "tags": [
          "Units"
        ],
        "parameters": [
          {
            "name": "filter[location]",
            "in": "query",
            "description": "Return only units at this location, addressed by its KISS `location_id` (ULID).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[external_location_code]",
            "in": "query",
            "description": "Return only units at the location with this code in your own system. Company-token callers only.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page to return. Paging details come back in `meta.pagination`.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Rows per page. Defaults to 15, capped at 100.",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "array",
                              "items": {}
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "data": {
                          "type": "string"
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "pagination": {
                              "type": "object",
                              "properties": {
                                "current_page": {
                                  "type": "integer"
                                },
                                "per_page": {
                                  "type": "integer"
                                },
                                "total": {
                                  "type": "integer"
                                },
                                "last_page": {
                                  "type": "integer"
                                }
                              },
                              "required": [
                                "current_page",
                                "per_page",
                                "total",
                                "last_page"
                              ]
                            },
                            "": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "pagination",
                            null
                          ]
                        }
                      },
                      "required": [
                        "message",
                        "data",
                        "meta"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "array",
                              "items": {}
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "data": {
                          "type": "string"
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "count": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "count",
                            null
                          ]
                        }
                      },
                      "required": [
                        "message",
                        "data",
                        "meta"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "array",
                              "items": {}
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/UnitResource"
                          }
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "pagination": {
                              "type": "object",
                              "properties": {
                                "current_page": {
                                  "type": "integer"
                                },
                                "per_page": {
                                  "type": "integer"
                                },
                                "total": {
                                  "type": "integer"
                                },
                                "last_page": {
                                  "type": "integer"
                                }
                              },
                              "required": [
                                "current_page",
                                "per_page",
                                "total",
                                "last_page"
                              ]
                            }
                          },
                          "required": [
                            "pagination"
                          ]
                        }
                      },
                      "required": [
                        "message",
                        "data",
                        "meta"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "array",
                              "items": {}
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/UnitResource"
                          }
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "count": {
                              "type": "integer",
                              "minimum": 0
                            }
                          },
                          "required": [
                            "count"
                          ]
                        }
                      },
                      "required": [
                        "message",
                        "data",
                        "meta"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "304": {
            "description": ""
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "summary": "List units",
        "description": "Lists the units in your company, each carrying both IDs: your own `external_unit_id` and the KISS `unit_id` (a ULID). This is the mapping to store if you want to address single units by ULID. Results are paged (15 per page, `per_page` up to 100) with paging details in `meta.pagination`, and can be narrowed to one store with `filter[location]` or `filter[external_location_code]`. Supports conditional requests via `ETag` / `If-None-Match`."
      },
      "patch": {
        "operationId": "v2.units.sync",
        "tags": [
          "Units"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for deduplication (1–255 chars, 24 h window)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncUnitsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sync applied. `results` maps every applied item to its KISS `unit_id`; anything that failed is in `errors` instead.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "synced_at": {
                          "type": "string"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "created": {
                          "type": "integer"
                        },
                        "updated": {
                          "type": "integer"
                        },
                        "failed": {
                          "type": "integer"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "unit_id": {
                                "type": "string"
                              },
                              "external_unit_id": {
                                "type": "string",
                                "nullable": true
                              },
                              "crm_unit_id": {
                                "type": "string",
                                "nullable": true
                              },
                              "outcome": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "unit_id",
                              "external_unit_id",
                              "crm_unit_id",
                              "outcome"
                            ]
                          }
                        },
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "crm_unit_id": {
                                "type": "string"
                              },
                              "unit_id": {
                                "type": "string"
                              },
                              "error": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "error"
                            ]
                          }
                        }
                      },
                      "required": [
                        "synced_at",
                        "total",
                        "created",
                        "updated",
                        "failed",
                        "results",
                        "errors"
                      ]
                    },
                    "meta": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "description": "Every item in the batch failed. Same body as a 200; inspect `errors`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "synced_at": {
                          "type": "string"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "created": {
                          "type": "integer"
                        },
                        "updated": {
                          "type": "integer"
                        },
                        "failed": {
                          "type": "integer"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "unit_id": {
                                "type": "string"
                              },
                              "external_unit_id": {
                                "type": "string",
                                "nullable": true
                              },
                              "crm_unit_id": {
                                "type": "string",
                                "nullable": true
                              },
                              "outcome": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "unit_id",
                              "external_unit_id",
                              "crm_unit_id",
                              "outcome"
                            ]
                          }
                        },
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "crm_unit_id": {
                                "type": "string"
                              },
                              "unit_id": {
                                "type": "string"
                              },
                              "error": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "error"
                            ]
                          }
                        }
                      },
                      "required": [
                        "synced_at",
                        "total",
                        "created",
                        "updated",
                        "failed",
                        "results",
                        "errors"
                      ]
                    },
                    "meta": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 0,
                      "maxItems": 0,
                      "additionalItems": false
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        },
        "summary": "Create or update units",
        "description": "Create or update up to 500 units in one idempotent call, matched on your `external_unit_id`. Unknown IDs create units, known IDs update their facts. This is the only write keyed on your own IDs, so you can change any unit fact (occupancy, lockout, balance, auction, move-in) without storing KISS ULIDs; send a single-item `units` array to update one unit by `external_unit_id`. Use it for the initial roster load and periodic reconciliation. Every applied unit comes back in `data.results` with its KISS `unit_id`, so you can record the mapping without a second call. Per-item failures come back in `data.errors` with a `200`; a batch where every item failed answers `422` with the same body."
      }
    },
    "/units/{unit}": {
      "get": {
        "operationId": "v2.units.show",
        "tags": [
          "Units"
        ],
        "parameters": [
          {
            "name": "unit",
            "in": "path",
            "required": true,
            "description": "The unit ulid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "array",
                              "items": {}
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "data": {
                          "type": "array",
                          "items": {}
                        },
                        "meta": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "data",
                        "meta"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "array",
                              "items": {}
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "data": {
                          "$ref": "#/components/schemas/UnitResource"
                        },
                        "meta": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "data",
                        "meta"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        },
        "summary": "Get a unit",
        "description": "Fetch a single unit by its KISS `unit_id` (ULID)."
      }
    },
    "/units/{ulid}/tenancy": {
      "put": {
        "operationId": "v2.units.tenancy.put",
        "tags": [
          "Units"
        ],
        "parameters": [
          {
            "name": "ulid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for deduplication (1–255 chars, 24 h window)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutTenancyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/UnitResource"
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/UnitResource"
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "summary": "Assign primary user",
        "description": "Addressed by the unit's KISS `unit_id` (ULID). Set the unit's single primary user (the owner). Marks the unit occupied, sets the move-in date, clears any lockout, and (with a `tenant` block) creates or updates that user so they can claim the unit in the app. If the unit already has a primary user, this REPLACES them — the prior primary link is overwritten (guest / secondary accessors are left attached). Adding a guest is a separate flow, not this endpoint."
      },
      "delete": {
        "operationId": "v2.units.tenancy.delete",
        "tags": [
          "Units"
        ],
        "parameters": [
          {
            "name": "ulid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for deduplication (1–255 chars, 24 h window)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "array",
                              "items": {}
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "data": {
                          "$ref": "#/components/schemas/UnitResource"
                        },
                        "meta": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "data",
                        "meta"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "anyOf": [
                            {
                              "type": "null"
                            },
                            {
                              "type": "array",
                              "items": {}
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "data": {
                          "type": "array",
                          "items": {}
                        },
                        "meta": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message",
                        "data",
                        "meta"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "string"
                        }
                      ]
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        }
                      ]
                    },
                    "data": {
                      "type": "string"
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          }
        },
        "summary": "Remove primary user",
        "description": "Addressed by the unit's KISS `unit_id` (ULID). End the primary tenancy and reset the unit to vacant (no request body). Clears occupied, the primary-user link, pms_tenant_id, move_in_date, balance_due (to 0), paid_through_date, pms_lockout, pms_auction, pms_unrentable, and pms_status_raw, and detaches secondary accessors. Returns 404 for an unknown unit."
      }
    },
    "/units/{ulid}": {
      "patch": {
        "operationId": "v2.units.patch",
        "tags": [
          "Units"
        ],
        "parameters": [
          {
            "name": "ulid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for deduplication (1–255 chars, 24 h window)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchUnitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/UnitResource"
                    },
                    "meta": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "type": "array",
                          "items": {}
                        },
                        {
                          "type": "string"
                        }
                      ]
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        },
        "summary": "Update unit facts",
        "description": "Sparse update of one unit's access facts (overlock, exemption, auction, unrentable, balance, occupancy). Addressed by the KISS `unit_id` (ULID), so reach for it when you already hold the ULID (from `GET /units`). To update by your own `crm_unit_id` instead, send a one-item batch to `PATCH /units`. Send only the fields that changed."
      }
    }
  },
  "components": {
    "securitySchemes": {
      "scheme": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API token"
      }
    },
    "schemas": {
      "App.Http.Requests.Api.V2.Locks.StoreLockLogRequest": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Only the device open/close actions a client reports. Server-generated\nkeys (registration, bundle, access-share) are written by their own\nflows and must not be forgeable through this endpoint.",
            "enum": [
              "lock.open_successful",
              "lock.open_failure",
              "lock.open_blocked",
              "lock.close_successful",
              "lock.close_successful_confirmed",
              "lock.close_failure",
              "lock.close_blocked",
              "lock.open_unconfirmed",
              "lock.close_unconfirmed",
              "entry_point.open_successful",
              "entry_point.open_failure",
              "entry_point.open_blocked",
              "entry_point.close_successful",
              "entry_point.close_successful_confirmed",
              "entry_point.close_failure",
              "entry_point.close_blocked",
              "entry_point.open_unconfirmed",
              "entry_point.close_unconfirmed"
            ]
          },
          "reason": {
            "type": "string",
            "description": "KEEP-1277: `nullable` is REQUIRED here, not cosmetic. `reason` is\noptional for every key except the two failure keys above, but the\nglobal ConvertEmptyStringsToNull middleware rewrites an empty string\nto null, and without `nullable` a null value then fails the `string`\nrule and 422s the whole request.",
            "maxLength": 1000,
            "nullable": true
          },
          "happened_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "app_version": {
            "type": "string",
            "maxLength": 20,
            "nullable": true
          },
          "app_build": {
            "type": "string",
            "maxLength": 20,
            "nullable": true
          },
          "platform": {
            "type": "string",
            "enum": [
              "ios",
              "android"
            ],
            "nullable": true
          },
          "error_code": {
            "type": "string",
            "description": "KEEP-1150: telemetry must never fail the whole request. An error\ncode the server does not recognise is coerced to null in the\ncontroller (AccessLogErrorCode::tryFrom), so validating it with\nRule::in only served to 422 the primary open/close outcome log and\ndrop it entirely. Accept any string; the model's enum cast + the\ncontroller tryFrom still guarantee only valid values or null persist.",
            "nullable": true
          },
          "first_error_code": {
            "type": "string",
            "nullable": true
          },
          "duration_ms": {
            "type": "integer",
            "minimum": 0,
            "nullable": true
          },
          "attempt_count": {
            "type": "integer",
            "minimum": 0,
            "nullable": true
          },
          "nfc_antenna_profile": {
            "type": "string",
            "maxLength": 64,
            "nullable": true
          },
          "scanned_lock_serial": {
            "type": "string",
            "maxLength": 255,
            "nullable": true
          },
          "field_lost_after_start": {
            "type": "boolean",
            "description": "KEEP-1148: flags a real open the phone was pulled away from mid-motor.",
            "nullable": true
          },
          "package": {
            "type": "string",
            "description": "KEEP-1154: which NFC engine + version produced the tap (kiss_core /\ntapt_nfc + its version), so performance can be sliced by NFC stack\nacross apps and the bench.",
            "maxLength": 40,
            "nullable": true
          },
          "package_version": {
            "type": "string",
            "maxLength": 40,
            "nullable": true
          }
        },
        "required": [
          "key"
        ],
        "title": "App.Http.Requests.Api.V2.Locks.StoreLockLogRequest"
      },
      "App.Http.Resources.User.UserResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "companies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanyResource"
            }
          },
          "company_id": {
            "type": "string"
          },
          "company": {
            "$ref": "#/components/schemas/CompanyResource"
          },
          "permissions": {
            "type": "string"
          },
          "locations_access": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "minItems": 0,
                "maxItems": 0,
                "additionalItems": false
              }
            ]
          },
          "roles": {
            "type": "string"
          },
          "partner_id": {
            "type": "string"
          },
          "profile": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "first_name",
          "last_name",
          "full_name",
          "email",
          "type",
          "created_at",
          "updated_at",
          "companies",
          "company_id",
          "company",
          "permissions",
          "locations_access",
          "roles",
          "partner_id",
          "profile"
        ],
        "title": "App.Http.Resources.User.UserResource"
      },
      "ClaimLockRequest": {
        "type": "object",
        "description": "Validates a consumer NFC lock claim (KEEP-805).\n\n`serial_number` is the lock's printed/encoded serial — the value an NFC tap\nsurfaces. KISS locks identify themselves by serial number everywhere a\nphysical scan resolves a device (see the B2B chip lookup in\n{@see IndexController}, which resolves a\ntapped serial via `Lock::whereSerialNumber()`), so the consumer claim accepts\nthe same field rather than inventing a new payload format.\n\nAuthorization is handled by the `consumer.scope` route middleware\n(KEEP-802), so this request only validates shape.",
        "properties": {
          "serial_number": {
            "type": "string",
            "maxLength": 255
          },
          "display_name": {
            "type": "string",
            "minLength": 3,
            "maxLength": 20,
            "nullable": true
          }
        },
        "required": [
          "serial_number"
        ],
        "title": "ClaimLockRequest"
      },
      "CompanyResource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "is_using_pms": {
            "type": "string"
          },
          "uses_facts_based_access": {
            "type": "boolean"
          },
          "uses_access_grants_v2": {
            "type": "string"
          },
          "pms_relies_on_automatic_sync": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "boolean"
              }
            ]
          },
          "has_outbound_api": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "boolean"
              }
            ]
          },
          "pms": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "image": {
            "type": "string",
            "nullable": true
          },
          "primary_color": {
            "type": "string"
          },
          "working_schedule": {
            "type": "string"
          },
          "move_out_requests_enabled": {
            "type": "string"
          },
          "meta": {
            "type": "string",
            "nullable": true
          },
          "archived_at": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "employees": {
            "type": "string",
            "enum": [
              "TBDL"
            ]
          },
          "locations": {
            "type": "string",
            "enum": [
              "TBDL"
            ]
          },
          "partnerships": {
            "type": "string",
            "enum": [
              "TBDL"
            ]
          },
          "products": {
            "type": "string",
            "enum": [
              "TBDL"
            ]
          }
        },
        "required": [
          "id",
          "is_using_pms",
          "uses_facts_based_access",
          "uses_access_grants_v2",
          "pms_relies_on_automatic_sync",
          "has_outbound_api",
          "pms",
          "code",
          "name",
          "image",
          "primary_color",
          "working_schedule",
          "move_out_requests_enabled",
          "meta",
          "archived_at",
          "created_at",
          "updated_at",
          "employees",
          "locations",
          "partnerships",
          "products"
        ],
        "title": "CompanyResource"
      },
      "CompleteConsumerSignupRequest": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "maxLength": 255
          },
          "last_name": {
            "type": "string",
            "maxLength": 255
          }
        },
        "required": [
          "first_name",
          "last_name"
        ],
        "title": "CompleteConsumerSignupRequest"
      },
      "ConfirmPhoneChangeRequest": {
        "type": "object",
        "description": "Validates the OTP confirming a consumer phone change (KEEP-962).\nAuthorization is handled by the `consumer.scope` route middleware.",
        "properties": {
          "otp": {
            "type": "number"
          }
        },
        "required": [
          "otp"
        ],
        "title": "ConfirmPhoneChangeRequest"
      },
      "ConsumerVerifyOtpRequest": {
        "type": "object",
        "properties": {
          "country_code": {
            "type": "number"
          },
          "phone_number": {
            "type": "number"
          },
          "otp": {
            "type": "number"
          }
        },
        "required": [
          "country_code",
          "phone_number",
          "otp"
        ],
        "title": "ConsumerVerifyOtpRequest"
      },
      "GrantRole": {
        "type": "string",
        "description": "Role on a grant. Owner = the one person who holds the subject (primary tenant in storage, consumer in POS); Guest = anyone else granted access. Zone grants have no role column — they are guest-only by construction — so this enum applies to unit and consumer grants only.\n",
        "enum": [
          "owner",
          "guest"
        ],
        "title": "GrantRole"
      },
      "GrantScope": {
        "type": "string",
        "description": "Scope on a grant. Inherited = the guest mirrors the subject's tenant access (owner-state-aware); Direct = access depends only on grant validity, independent of tenant state. Zone grants have no scope column — they are direct-only by construction — so this enum applies to unit and consumer grants only.\n",
        "enum": [
          "inherited",
          "direct"
        ],
        "title": "GrantScope"
      },
      "MoveInTenantToUnitRequest": {
        "type": "object",
        "properties": {
          "tenant_id": {
            "type": "string"
          },
          "phone_country_code": {
            "type": "number"
          },
          "phone_number": {
            "type": "number"
          },
          "first_name": {
            "type": "string",
            "minLength": 3,
            "maxLength": 25
          },
          "last_name": {
            "type": "string",
            "minLength": 3,
            "maxLength": 25
          }
        },
        "title": "MoveInTenantToUnitRequest"
      },
      "PatchUnitRequest": {
        "type": "object",
        "properties": {
          "balance_due": {
            "type": "number",
            "minimum": 0,
            "nullable": true
          },
          "paid_through_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lockout": {
            "type": "boolean",
            "description": "Whether the external system has the unit locked out (e.g. for delinquency)."
          },
          "pms_lockout": {
            "type": "boolean",
            "description": "Legacy alias of `lockout`.",
            "deprecated": true
          },
          "lock_exempt": {
            "type": "boolean",
            "description": "Whether the unit is exempt from lockout enforcement."
          },
          "pms_lock_exempt": {
            "type": "boolean",
            "description": "Legacy alias of `lock_exempt`.",
            "deprecated": true
          },
          "auction": {
            "type": "boolean",
            "description": "Whether the unit is in auction status."
          },
          "pms_auction": {
            "type": "boolean",
            "description": "Legacy alias of `auction`.",
            "deprecated": true
          },
          "unrentable": {
            "type": "boolean",
            "description": "Whether the unit is unrentable."
          },
          "pms_unrentable": {
            "type": "boolean",
            "description": "Legacy alias of `unrentable`.",
            "deprecated": true
          },
          "status_raw": {
            "type": "string",
            "description": "The unit's raw status string in the external system.",
            "maxLength": 255,
            "nullable": true
          },
          "pms_status_raw": {
            "type": "string",
            "description": "Legacy alias of `status_raw`.",
            "deprecated": true,
            "maxLength": 255,
            "nullable": true
          },
          "occupied": {
            "type": "string",
            "description": "Prohibited here — tenancy changes go through PUT/DELETE /units/{ulid}/tenancy."
          },
          "tenant_id": {
            "type": "string",
            "description": "Prohibited here — tenancy changes go through PUT/DELETE /units/{ulid}/tenancy."
          },
          "external_tenant_id": {
            "type": "string",
            "description": "Prohibited here — tenancy changes go through PUT/DELETE /units/{ulid}/tenancy."
          },
          "pms_tenant_id": {
            "type": "string",
            "description": "Legacy alias of `external_tenant_id`. Prohibited here — tenancy changes go through PUT/DELETE /units/{ulid}/tenancy.",
            "deprecated": true
          },
          "move_in_date": {
            "type": "string",
            "description": "Prohibited here — tenancy changes go through PUT/DELETE /units/{ulid}/tenancy."
          }
        },
        "title": "PatchUnitRequest"
      },
      "PmsPushUnitGrantsRequest": {
        "type": "object",
        "description": "Authorizes + validates a PMS-partner push of a unit's grants (KEEP-758): the\nmachine-token write path that converges PMS sources onto access_grants.\n\nA PMS token (Passport, pms:write) may push role=owner and role=guest+\nscope=inherited; scope=direct — and any non-PMS caller — is a 403 (reusing the\nshared {@see GrantRequest} caller matrix). The unit's owner + guest grants\narrive together in one `grants[]` payload. share_id is server-generated.",
        "properties": {
          "grants": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "$ref": "#/components/schemas/GrantRole"
                },
                "scope": {
                  "$ref": "#/components/schemas/GrantScope"
                },
                "grantee_user_id": {
                  "type": "string",
                  "description": "The user ULID is canonical (KEEP-1155; integers are the internal\nids and stay accepted as a legacy alias). Either way the grantee is\nscoped to the token's company: a connector pushes its own company's\ntenants (owner + inherited guests), so an identity from another\ncompany must not resolve to a grant on this company's unit."
                },
                "expires_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "share_id": {
                  "type": "string"
                }
              },
              "required": [
                "role",
                "scope",
                "grantee_user_id"
              ]
            },
            "minItems": 1
          }
        },
        "required": [
          "grants"
        ],
        "title": "PmsPushUnitGrantsRequest"
      },
      "PutTenancyRequest": {
        "type": "object",
        "properties": {
          "external_unit_id": {
            "type": "string",
            "description": "Your system's unit identifier. Only used to label the unit when this\ncall creates it; it never re-targets or re-labels an existing unit.",
            "maxLength": 255,
            "nullable": true
          },
          "crm_unit_id": {
            "type": "string",
            "description": "Legacy alias of `external_unit_id`. Also create-only: it never re-targets an existing unit.",
            "deprecated": true,
            "maxLength": 255,
            "nullable": true
          },
          "location_id": {
            "type": "string",
            "nullable": true
          },
          "external_location_code": {
            "type": "string",
            "description": "The location's code in your system, an alternative to `location_id`.",
            "maxLength": 255,
            "nullable": true
          },
          "pms_location_code": {
            "type": "string",
            "description": "Legacy alias of `external_location_code`.",
            "deprecated": true,
            "maxLength": 255,
            "nullable": true
          },
          "unit_name": {
            "type": "string",
            "maxLength": 255,
            "nullable": true
          },
          "move_in_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "external_tenant_id": {
            "type": "string",
            "description": "The moving-in tenant's identifier in your system.",
            "maxLength": 255,
            "nullable": true
          },
          "pms_tenant_id": {
            "type": "string",
            "description": "Legacy alias of `external_tenant_id`.",
            "deprecated": true,
            "maxLength": 255,
            "nullable": true
          },
          "ledger_id": {
            "type": "string",
            "maxLength": 255,
            "nullable": true
          },
          "status_raw": {
            "type": "string",
            "description": "The unit's raw status string in the external system.",
            "maxLength": 255,
            "nullable": true
          },
          "pms_status_raw": {
            "type": "string",
            "description": "Legacy alias of `status_raw`.",
            "deprecated": true,
            "maxLength": 255,
            "nullable": true
          },
          "lock_exempt": {
            "type": "boolean",
            "description": "Whether the unit is exempt from lockout enforcement.",
            "nullable": true
          },
          "pms_lock_exempt": {
            "type": "boolean",
            "description": "Legacy alias of `lock_exempt`.",
            "deprecated": true,
            "nullable": true
          },
          "tenant": {
            "type": "object",
            "properties": {
              "external_tenant_id": {
                "type": "string",
                "description": "The tenant's identifier in your system.",
                "maxLength": 255,
                "nullable": true
              },
              "pms_tenant_id": {
                "type": "string",
                "description": "Legacy alias of `tenant.external_tenant_id`.",
                "deprecated": true,
                "maxLength": 255,
                "nullable": true
              },
              "first_name": {
                "type": "string",
                "maxLength": 255,
                "nullable": true
              },
              "last_name": {
                "type": "string",
                "maxLength": 255,
                "nullable": true
              },
              "phone": {
                "type": "string",
                "maxLength": 32,
                "nullable": true
              },
              "email": {
                "type": "string",
                "format": "email",
                "maxLength": 255,
                "nullable": true
              }
            }
          }
        },
        "title": "PutTenancyRequest"
      },
      "ReserveUnitRequest": {
        "type": "object",
        "properties": {
          "tenant_id": {
            "type": "string"
          },
          "first_name": {
            "type": "string",
            "minLength": 3,
            "maxLength": 25
          },
          "last_name": {
            "type": "string",
            "minLength": 3,
            "maxLength": 25
          },
          "phone_country_code": {
            "type": "number"
          },
          "phone_number": {
            "type": "number"
          },
          "move_in_date": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "move_in_date"
        ],
        "title": "ReserveUnitRequest"
      },
      "SendPhoneOtpRequest": {
        "type": "object",
        "properties": {
          "country_code": {
            "type": "number"
          },
          "phone_number": {
            "type": "number"
          }
        },
        "required": [
          "country_code",
          "phone_number"
        ],
        "title": "SendPhoneOtpRequest"
      },
      "ShareLockRequest": {
        "type": "object",
        "description": "Validates a consumer lock share (KEEP-807).\n\nThe grantee is identified by phone in the same `country_code` + `phone_number`\nshape the consumer auth flow uses {@see SendPhoneOtpRequest},\nso the app can reuse the number it already has on hand. `expires_at`, when\npresent, bounds the guest grant's validity.\n\nAuthorization (consumer-type token) is handled by the `consumer.scope` route\nmiddleware (KEEP-802); resolving the *owned* bundle for the target lock and\nthe grantee's consumer account happens in the controller. So this request only\nvalidates shape.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The recipient's name for a first-time invite (used to greet them in\nthe welcome SMS and to label the pending share until they sign up).",
            "maxLength": 255,
            "nullable": true
          },
          "country_code": {
            "type": "number"
          },
          "phone_number": {
            "type": "number"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "country_code",
          "phone_number"
        ],
        "title": "ShareLockRequest"
      },
      "StoreBundleRequest": {
        "type": "object",
        "properties": {
          "unit_id": {
            "type": "string"
          },
          "display_name": {
            "type": "string",
            "minLength": 3,
            "maxLength": 20,
            "nullable": true
          }
        },
        "required": [
          "unit_id"
        ],
        "title": "StoreBundleRequest"
      },
      "StoreEntryPointLogRequest": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Only the device open/close actions a client reports; server-generated\nkeys are written by their own flows, not forgeable through this endpoint.",
            "enum": [
              "lock.open_successful",
              "lock.open_failure",
              "lock.open_blocked",
              "lock.close_successful",
              "lock.close_successful_confirmed",
              "lock.close_failure",
              "lock.close_blocked",
              "lock.open_unconfirmed",
              "lock.close_unconfirmed",
              "entry_point.open_successful",
              "entry_point.open_failure",
              "entry_point.open_blocked",
              "entry_point.close_successful",
              "entry_point.close_successful_confirmed",
              "entry_point.close_failure",
              "entry_point.close_blocked",
              "entry_point.open_unconfirmed",
              "entry_point.close_unconfirmed"
            ]
          },
          "zone_id": {
            "type": "string",
            "description": "Accepted for client parity with V1 (the apps may send it); the log is\nrecorded against the entry point's resolved zone, so it is not yet used.",
            "nullable": true
          },
          "happened_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "app_version": {
            "type": "string",
            "maxLength": 20,
            "nullable": true
          },
          "app_build": {
            "type": "string",
            "maxLength": 20,
            "nullable": true
          },
          "platform": {
            "type": "string",
            "enum": [
              "ios",
              "android"
            ],
            "nullable": true
          },
          "error_code": {
            "type": "string",
            "description": "KEEP-1150: telemetry must never fail the whole request. An error\ncode the server does not recognise is coerced to null in the\ncontroller (AccessLogErrorCode::tryFrom), so validating it with\nRule::in only served to 422 the primary open/close outcome log and\ndrop it entirely. Accept any string; the model's enum cast + the\ncontroller tryFrom still guarantee only valid values or null persist.",
            "nullable": true
          },
          "first_error_code": {
            "type": "string",
            "nullable": true
          },
          "duration_ms": {
            "type": "integer",
            "minimum": 0,
            "nullable": true
          },
          "attempt_count": {
            "type": "integer",
            "minimum": 0,
            "nullable": true
          },
          "nfc_antenna_profile": {
            "type": "string",
            "maxLength": 64,
            "nullable": true
          },
          "scanned_lock_serial": {
            "type": "string",
            "maxLength": 255,
            "nullable": true
          },
          "field_lost_after_start": {
            "type": "boolean",
            "description": "KEEP-1148: flags a real open the phone was pulled away from mid-motor.",
            "nullable": true
          },
          "package": {
            "type": "string",
            "description": "KEEP-1154: which NFC engine + version produced the tap (kiss_core /\ntapt_nfc + its version), so performance can be sliced by NFC stack\nacross apps and the bench.",
            "maxLength": 40,
            "nullable": true
          },
          "package_version": {
            "type": "string",
            "maxLength": 40,
            "nullable": true
          }
        },
        "required": [
          "key"
        ],
        "title": "StoreEntryPointLogRequest"
      },
      "StoreEntryPointRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "nullable": true
          },
          "serial_number": {
            "type": "string",
            "minLength": 3
          },
          "function": {
            "type": "string",
            "enum": [
              "one_way",
              "two_way"
            ],
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "gate",
              "interior_door",
              "exterior_door",
              "rollup_door",
              "other"
            ],
            "nullable": true
          },
          "key": {
            "type": "string",
            "minLength": 3,
            "nullable": true
          },
          "supervisor_key": {
            "type": "string",
            "minLength": 3,
            "nullable": true
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "maxLength": 255,
            "nullable": true
          },
          "lock_name": {
            "type": "string",
            "minLength": 3,
            "nullable": true
          },
          "company_id": {
            "type": "string"
          },
          "version": {
            "type": "string",
            "enum": [
              "1.0"
            ]
          }
        },
        "required": [
          "serial_number"
        ],
        "title": "StoreEntryPointRequest"
      },
      "StoreLockLogRequest": {
        "type": "object",
        "description": "Validates a consumer access-log write (KEEP-1028). Mirrors the managed\nApp\\Http\\Requests\\Api\\V2\\Locks\\StoreLockLogRequest: the same client-reportable\nkeys, the failure-needs-a-reason rule, and the shared telemetry rules.",
        "properties": {
          "key": {
            "type": "string",
            "description": "Only the device open/close actions a client reports; server-generated\nkeys (registration, bundle) are written by their own flows and must\nnot be forgeable through this endpoint.",
            "enum": [
              "lock.open_successful",
              "lock.open_failure",
              "lock.open_blocked",
              "lock.close_successful",
              "lock.close_successful_confirmed",
              "lock.close_failure",
              "lock.close_blocked",
              "lock.open_unconfirmed",
              "lock.close_unconfirmed",
              "entry_point.open_successful",
              "entry_point.open_failure",
              "entry_point.open_blocked",
              "entry_point.close_successful",
              "entry_point.close_successful_confirmed",
              "entry_point.close_failure",
              "entry_point.close_blocked",
              "entry_point.open_unconfirmed",
              "entry_point.close_unconfirmed"
            ]
          },
          "reason": {
            "type": "string",
            "description": "KEEP-1277: `nullable` is REQUIRED here, not cosmetic. `reason` is\noptional for every key except the two failure keys above, but the\nglobal ConvertEmptyStringsToNull middleware rewrites an empty string\nto null, and without `nullable` a null value then fails the `string`\nrule and 422s the whole request.",
            "maxLength": 1000,
            "nullable": true
          },
          "happened_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "app_version": {
            "type": "string",
            "maxLength": 20,
            "nullable": true
          },
          "app_build": {
            "type": "string",
            "maxLength": 20,
            "nullable": true
          },
          "platform": {
            "type": "string",
            "enum": [
              "ios",
              "android"
            ],
            "nullable": true
          },
          "error_code": {
            "type": "string",
            "description": "KEEP-1150: telemetry must never fail the whole request. An error\ncode the server does not recognise is coerced to null in the\ncontroller (AccessLogErrorCode::tryFrom), so validating it with\nRule::in only served to 422 the primary open/close outcome log and\ndrop it entirely. Accept any string; the model's enum cast + the\ncontroller tryFrom still guarantee only valid values or null persist.",
            "nullable": true
          },
          "first_error_code": {
            "type": "string",
            "nullable": true
          },
          "duration_ms": {
            "type": "integer",
            "minimum": 0,
            "nullable": true
          },
          "attempt_count": {
            "type": "integer",
            "minimum": 0,
            "nullable": true
          },
          "nfc_antenna_profile": {
            "type": "string",
            "maxLength": 64,
            "nullable": true
          },
          "scanned_lock_serial": {
            "type": "string",
            "maxLength": 255,
            "nullable": true
          },
          "field_lost_after_start": {
            "type": "boolean",
            "description": "KEEP-1148: flags a real open the phone was pulled away from mid-motor.",
            "nullable": true
          },
          "package": {
            "type": "string",
            "description": "KEEP-1154: which NFC engine + version produced the tap (kiss_core /\ntapt_nfc + its version), so performance can be sliced by NFC stack\nacross apps and the bench.",
            "maxLength": 40,
            "nullable": true
          },
          "package_version": {
            "type": "string",
            "maxLength": 40,
            "nullable": true
          }
        },
        "required": [
          "key"
        ],
        "title": "StoreLockLogRequest"
      },
      "StoreLockRequest": {
        "type": "object",
        "properties": {
          "company_id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "serial_number": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "supervisor_key": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "maxLength": 255
          },
          "version": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "disc",
              "cylinder",
              "latch",
              "storefront"
            ],
            "nullable": true
          }
        },
        "required": [
          "name",
          "serial_number"
        ],
        "title": "StoreLockRequest"
      },
      "StoreOtpRequest": {
        "type": "object",
        "properties": {
          "country_code": {
            "type": "number"
          },
          "phone_number": {
            "type": "number"
          }
        },
        "required": [
          "country_code",
          "phone_number"
        ],
        "title": "StoreOtpRequest"
      },
      "StorePaymentRequest": {
        "type": "object",
        "description": "Validates a V2 pay request. `type` selects which charges are settled (the\nwrite-side mirror of the 342 invoice-read `filter[type]`); `period` applies\nonly to advance-pay. Card fields mirror V1 exactly — the PMS is the processor.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "past-due",
              "all",
              "advance-pay"
            ]
          },
          "period": {
            "type": "integer",
            "minimum": 1,
            "nullable": true
          },
          "payment_method": {
            "type": "object",
            "properties": {
              "name_on_card": {
                "type": "string",
                "minLength": 1,
                "maxLength": 255
              },
              "card_number": {
                "type": "string",
                "pattern": "^[0-9]+$",
                "minLength": 13,
                "maxLength": 19
              },
              "cvv": {
                "type": "string",
                "pattern": "^[0-9]+$",
                "minLength": 3,
                "maxLength": 4
              },
              "exp_month": {
                "type": "string",
                "pattern": "^(0[1-9]|1[0-2])$",
                "minLength": 1,
                "maxLength": 2
              },
              "exp_year": {
                "type": "string",
                "pattern": "^[0-9]+$",
                "minLength": 2,
                "maxLength": 4
              },
              "address": {
                "type": "string",
                "minLength": 1,
                "maxLength": 255
              },
              "address2": {
                "type": "string",
                "maxLength": 255,
                "nullable": true
              },
              "city": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100
              },
              "country": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100
              },
              "state": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100
              },
              "zip": {
                "type": "string",
                "minLength": 1,
                "maxLength": 20
              }
            },
            "required": [
              "name_on_card",
              "card_number",
              "cvv",
              "exp_month",
              "exp_year",
              "address",
              "city",
              "country",
              "state",
              "zip"
            ]
          }
        },
        "required": [
          "type",
          "payment_method"
        ],
        "title": "StorePaymentRequest"
      },
      "StorePhoneChangeRequest": {
        "type": "object",
        "description": "Validates the candidate number for a consumer phone change (KEEP-962).\nAuthorization is handled by the `consumer.scope` route middleware.",
        "properties": {
          "country_code": {
            "type": "number"
          },
          "phone_number": {
            "type": "number"
          }
        },
        "required": [
          "country_code",
          "phone_number"
        ],
        "title": "StorePhoneChangeRequest"
      },
      "StoreTenantOfflineKeyRequest": {
        "type": "object",
        "properties": {
          "last_armed_at": {
            "type": "string",
            "format": "date-time"
          },
          "device_id": {
            "type": "string",
            "maxLength": 255,
            "nullable": true
          }
        },
        "required": [
          "last_armed_at"
        ],
        "title": "StoreTenantOfflineKeyRequest"
      },
      "StoreTokenRequest": {
        "type": "object",
        "properties": {
          "grant": {
            "type": "string",
            "enum": [
              "otp",
              "password"
            ]
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "password grant (manager). No exists: rule — the controller returns a\ngeneric invalid-credentials response so the endpoint can't be used to\nenumerate which emails exist."
          },
          "password": {
            "type": "string"
          },
          "country_code": {
            "type": "number",
            "description": "otp grant (tenant phone)."
          },
          "phone_number": {
            "type": "number"
          },
          "otp": {
            "type": "number"
          }
        },
        "required": [
          "grant"
        ],
        "title": "StoreTokenRequest"
      },
      "StoreZoneGrantRequest": {
        "type": "object",
[...]
